<div class="top_nav">
  <div class="container">
    <span class="bar-icon">
      <i class="fas fa-bars icon_green"></i>
      Dummy App
    </span>
    <span class="user-details">
      <i class="fas fa-user icon_green"></i>
      John
      <a href="javascript:void(0);" class="log_out">Log out</a>
    </span>
  </div>
</div>
<div class="clear"></div>
<div class="container">
  <div class="sub_menu">
    <ul>
      <li><i class="fas fa-home icon_green"></i></li>
      <li><i class="fas fa-angle-right icon_gray"></i></li>
      <li class="color_green">Page 1</li>
      <li><i class="fas fa-angle-right icon_gray"></i></li>
      <li class="color_green">Breadcrumb</li>
      <li><i class="fas fa-angle-right icon_gray"></i></li>
      <li>Current page</li>
    </ul>
  </div>
</div>
<div class="clear"></div>
<div class="recyle_sec">
  <div class="container">
    <ul class="page_tab">
      <li>
        <div class="sec-icon">
          <i class="fas fa-puzzle-piece"></i>
        </div>
        <div class="head_details">
          <p>Sector</p>
          <h4>Sports</h4>
        </div>  
      </li>
      <li>
        <div class="sec-icon">
          <i class="fas fa-futbol"></i>
        </div>
        <div class="head_details">
          <p>Sports Type</p>
          <h4>Bycicles</h4>
        </div>
      </li>
      <li>
        <div class="sec-icon">
          <i class="fas fa-bicycle"></i>
        </div>
        <div class="head_details">  
          <p>Mode</p>
          <h4>Mountain Cross</h4>
        </div>  
      </li>
    </ul>
    <ul class="green_respons">
      <li>
        <div class="sec-icon">
          <i class="fas fa-recycle icon_green"></i>
        </div>
        <div class="head_details">  
          <p>Responsbility</p>
          <h4 class="color_green">Be Green!</h4>
        </div>
      </li>  
    </ul> 
  </div>
</div>
<div class="clear"></div>
<my-app>
<p style="text-align: center; color: #d8d7d7;">Loading...</p>
</my-app>

<div class="footer">
  <div class="container">
    <p>
      Dummy App
    </p>
    <p>
      version 1.1.4
    </p>
  </div>
</div>

